@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-5 text-danger">API Client App</h1>
    <p>Built with ASP.NET Core Razor Pages.</p>
</div>
